<nav class="navigation">
  <a href="/post">
    <img
      src="/assets/images/navLogo.png"
      alt="logo"
      title="logo"
      class="navigation-logo"
    />
  </a>
  <div class="navigation-search-container">
     <i class="fa fa-search"></i>
      <input type="text" placeholder="Search">
    </div>
    <div class="navigation-icons">
      <a href="/explore" class="navigation-link" alt="explore">
        <i class="fa fa-compass"></i>
      </a>
      <a href="/feed" class="navigation-link" alt ="feed">
        <i class="fa fa-heart-o"></i>
      </a>
      <a href="/profile" class="navigation-link" alt="profile">
        <i class="fa fa-user-o"></i>
      </a>
    </div>
</nav>
