{% extends "templates/base.twig" %}

{% block title %}Post{% endblock %}

{% block body %}
{% include("templates/navbar.twig") %}

<center>
  <form method="post" action="/post" enctype='multipart/form-data'>
  <br>
    {# <img id="blah" src="#" alt="your image" /><br><br> #}
    <input type='file' name='file' /><br><br>
    <input type='text' name='caption' placeholder='caption'/><br><br>
    <input type='submit' value='Post Picture' name='but_upload'>
  </form>
  </center>

{# {% include("templates/javascript/post.js") %} #}

{% endblock %}
